@charset "utf-8";

/* css info
normal :font-weight:400
bold:font-weight:700
word-wrap:break-word;word-break:break-all;
line-height:28px\0IE8+9;
*/

/* reset */
html{color:#000000;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
body{font-family:"Nanum Gothic",Dotum,"돋움",Gulim,"굴림",Helvetica Neue,Helvetica,Arial,Verdana,Tahoma,sans-serif;font-size:12px;line-height:18px;color:#000000;background-color:#ffffff;}
img{vertical-align:top;border:0;}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
fieldset{border:0;}
legend{color:#000;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
caption,hr,legend{*display:none;font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
a,a:link,a:visited,a:active,a:hover,a:focus{color:#000000;font-size:100%;text-decoration:none;}
.notice_a a{color:#0c5ed8;text-decoration:underline;}

/* common */
.clfix{*zoom:1;}
.clfix:before,.clfix:after{display:table;line-height:0;content:"";}
.clfix:after{clear:both;}
.hide_text{position:absolute; display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
.blind {position:absolute;top:-10000em;left:0;display:block;overflow:hidden;}
textarea{padding:5px}

/* select, input */
select{padding:4px 4px 4px 0;border:1px solid #b8b3a7;font-family:"Nanum Gothic";font-size: 13px;}
input[type="text"], input[type="password"]{padding:2px 0 4px 3px;height:20px;line-height:20px;border:1px solid #b8b3a7;font-family:"Nanum Gothic"}


/* skip menu */
.skipnav{position:absolute;top:0;left:0;width:100%;height:0;line-height:0;}
.skipnav a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:0}
.skipnav a:hover,
.skipnav a:active,
.skipnav a:focus{position:absolute;top:0;left:0;width:100%;height:19px;line-height:100%;margin:0;padding:5px 0 5px 0;border:1px solid #c4d7ea;background:#005f3f;font-weight:bold;font-size:1.333em;color:#ffffff;text-align:center;}

/* text */
.txt_r{font-size:13px;color:#d31145}
.txt_r_u{color:#d31145;text-decoration:underline}
.txt_r_u a{color:#d31145;text-decoration:underline}
.txt_g{color:#00704a}
.txt_gy{color:#666}

/* layout */
html{}
body{}
#header{width:100%;background:url(/project/images/common/bg_header.gif) repeat-x left top;}
#container{width:100%;background:url(/project/images/common/bg_container_inner.png) repeat left top;}
.container_inner{width:100%;background:url(/project/images/common/bg_green.gif) repeat-x left top;}
.content_wrap{width:980px;min-height:600px;_height:600px;margin:0 auto;}
.snb{float:left;width:220px;}
#content{float:right;width:760px;}
#content.wide {float:none;width:100%;}
#main #content{float:none;width:auto}

/* header content */
.header_content{width:980px;height:100px;margin:0 auto;}
.logo{display:block;float:left;position:relative;top:18px;width:127px;}
.menu_area{float:right;width:853px;}
.util_menu_wrap{float:left;width:853px;}
.util_menu{float:right;margin:14px 0 0 0;}
.util_menu li{float:left;margin:0 0 0 8px;padding:0 0 0 8px;background:url(/project/images/common/bl_util_bar.gif) no-repeat left center;}
.util_menu li.first_child{margin-left:0;padding-left:0;background:none;}
.util_menu li a:hover,
.util_menu li a:focus,
.util_menu li a:active{text-decoration:underline;}
.gnb_menu{float:right;}

.sub_background{height:0;line-height:0;font-size:0;}
.gsm_bg{display:none;position:absolute;top:100px;left:0;z-index:130;width:100%;background:url(/project/images/common/bg_gnb_sub_menu.gif) repeat-x left top}
.gsm_bg_inner{width:100%;margin:4px 0 0 0;border-bottom:1px solid #00704a;background:url(/project/images/common/bg_gnb_sub_menu02.gif) repeat-x left top}
.gsm_bg_content{position:relative;width:980px;margin:0 auto;padding:30px 0 30px 0;}
.gsm_bg_visual{float:left;width:220px;height:166px;text-align:left;}
.gsm_bg_visual img{position:relative;left:0;}

.gnb_menu .gm{float:left;margin:26px 45px 0 0;} /* margin:26px 60px 0 0 20170516 기프트 메뉴 삭제; margin:26px 64px 0 0; 20161121 survey 메뉴추가 */
.gnb_menu .gm.last_child{margin-right:0px} /* margin-right:34px 20161121 survey 메뉴추가 */
.gnb_menu .gm .gm_link{display:block;position:relative;background-position:center top;background-repeat:no-repeat;text-indent:-9999px;}
.gnb_menu .gm .gnb_link01{width:58px;height:16px;background-image:url(/project/images/common/gnb_menu01.png)}
.gnb_menu .gm .gnb_link02{width:61px;height:16px;background-image:url(/project/images/common/gnb_menu02.png)}
.gnb_menu .gm .gnb_link03{width:62px;height:15px;background-image:url(/project/images/common/gnb_menu03.png)}
.gnb_menu .gm .gnb_link05{width:68px;height:16px;background-image:url(/project/images/common/gnb_menu05.png)}
.gnb_menu .gm .gnb_link07{width:74px;height:16px;background-image:url(/project/images/common/gnb_menu07.png)}
.gnb_menu .gm .gnb_link08{width:137px;height:16px;background-image:url(/project/images/common/gnb_menu08.png)}
.gnb_menu .gm.on .gnb_link01{top:-7px;width:58px;height:26px;background-image:url(/project/images/common/gnb_menu01_on.png)}
.gnb_menu .gm.on .gnb_link02{top:-7px;width:61px;height:26px;background-image:url(/project/images/common/gnb_menu01_on.png)}
.gnb_menu .gm.on .gnb_link03{top:-7px;width:62px;height:25px;background-image:url(/project/images/common/gnb_menu01_on.png)}
.gnb_menu .gm.on .gnb_link05{top:-7px;width:68px;height:26px;background-image:url(/project/images/common/gnb_menu05_on.png)}
.gnb_menu .gm.on .gnb_link07{top:-7px;width:74px;height:26px;background-image:url(/project/images/common/gnb_menu07_on.png)}
.gnb_menu .gm.on .gnb_link08{top:-7px;width:137px;height:26px;background-image:url(/project/images/common/gnb_menu08_on.png)}

.gnb_menu .gm .gnb_link01:hover,
.gnb_menu .gm .gnb_link01:focus,
.gnb_menu .gm .gnb_link01:active{top:-7px;width:58px;height:26px;background-image:url(/project/images/common/gnb_menu01_on.png)}
.gnb_menu .gm .gnb_link02:hover,
.gnb_menu .gm .gnb_link02:focus,
.gnb_menu .gm .gnb_link02:active{top:-7px;width:61px;height:26px;background-image:url(/project/images/common/gnb_menu02_on.png)}

.gnb_menu .gm .gnb_link03:hover,
.gnb_menu .gm .gnb_link03:focus,
.gnb_menu .gm .gnb_link03:active{top:-7px;width:62px;height:25px;background-image:url(/project/images/common/gnb_menu03_on.png)}

.gnb_menu .gm .gnb_link05:hover,
.gnb_menu .gm .gnb_link05:focus,
.gnb_menu .gm .gnb_link05:active{top:-7px;width:68px;height:26px;background-image:url(/project/images/common/gnb_menu05_on.png)}

.gnb_menu .gm .gnb_link07:hover,
.gnb_menu .gm .gnb_link07:focus,
.gnb_menu .gm .gnb_link07:active{top:-7px;width:74px;height:26px;background-image:url(/project/images/common/gnb_menu07_on.png)}
.gnb_menu .gm .gnb_link08:hover,
.gnb_menu .gm .gnb_link08:focus,
.gnb_menu .gm .gnb_link08:active{top:-7px;width:137px;height:26px;background-image:url(/project/images/common/gnb_menu08_on.png)}

.gnb_sub_menu{display:none;position:absolute;top:100px;left:0;z-index:131;width:100%;}
.gnb_sub_menu_inner{position:relative;width:980px;margin:0 auto;}
.gsm_list{float:left;position:absolute;top:20px;}
.gsm_list01{left:257px;} /* left:246px; */
.gsm_list02{left:388px;} /* left:370px; */
.gsm_list03{left:675px;} /* left:493px; */
.gsm_list04{left:668px;} /* left:628px; */
.gsm_list05{left:784px;} /* left:764px; */
.gsm_list06{left:781px;} /* left:894px; */
.gsm_list07{left:895px;}
.gsm_list08{left:494px;}
.gsm_sub_list li{margin-bottom:7px;}
.gsm_sub_list a{display:block;min-width:96px;padding:3px 10px 3px 10px;font-size:14px;font-weight:bold;color:#000000;_color:#000000 !important}
.gsm_sub_list a:hover,
.gsm_sub_list a:active,
.gsm_sub_list a:focus{color:#ffffff;font-weight:700;background:#d31145;}
.gnb_menu .gm.last_child .gsm_sub_list a {min-width:96px;}
.gsm_list02 .gsm_sub_list a {min-width:0; width:auto}

/* snb content */
.snb_tit{width:169px;padding:84px 0 24px 11px;border-bottom:1px solid #00704a}
.snb_list{width:180px;margin:18px 0 0 0;}
.snb_list .snb_1depth{width:180px;}
.snb_list .snb_1depth .snb_1depth_link{display:block;width:180px;height:23px;padding:7px 0 2px 10px;color:#000000;font-size:16px;font-weight:700;}
.snb_list .snb_1depth.break .snb_1depth_link {height:40px !important;}
.snb_list .snb_1depth .snb_1depth_link .snb_txt{display:block;width:170px;color:#000000;cursor:pointer}
.snb_list .snb_1depth .snb_1depth_link .snb_txt_find{letter-spacing:-1px;}
.snb_list .snb_1depth.on .snb_1depth_link{background:url(/project/images/common/bg_snb_on.png) no-repeat left center;}
.snb_list .snb_1depth.on .snb_1depth_link .snb_txt{color:#00704a;background:url(/project/images/common/bl_snb_on.gif) no-repeat 155px 4px;}
.snb_list .snb_1depth.break.on .snb_1depth_link .snb_txt{background-position:155px 14px;}
.snb_list .snb_1depth.break.on .snb_1depth_link {background:url(/project/images/common/bg_snb_break_on.png) no-repeat left center;}
.snb_list .snb_1depth .snb_1depth_link:hover,
.snb_list .snb_1depth .snb_1depth_link:focus,
.snb_list .snb_1depth .snb_1depth_link:active{color:#00704a;background:url(/project/images/common/bg_snb_on.png) no-repeat left center;}
.snb_list .snb_1depth .snb_1depth_link:hover .snb_txt,
.snb_list .snb_1depth .snb_1depth_link:focus .snb_txt,
.snb_list .snb_1depth .snb_1depth_link:active .snb_txt{color:#00704a;background:url(/project/images/common/bl_snb_on.gif) no-repeat 155px 4px;}
.snb_list .snb_1depth.break .snb_1depth_link:hover,
.snb_list .snb_1depth.break .snb_1depth_link:focus,
.snb_list .snb_1depth.break .snb_1depth_link:active {background:url(/project/images/common/bg_snb_break_on.png) no-repeat left center;}
.snb_list .snb_1depth.break .snb_1depth_link:hover .snb_txt,
.snb_list .snb_1depth.break .snb_1depth_link:focus .snb_txt,
.snb_list .snb_1depth.break .snb_1depth_link:active .snb_txt{background-position:155px 14px;}

.snb_sub_list {display:none;width:180px;padding:7px 0 7 px 0;background:url(/project/images/common/bg_snb_3depth.png) repeat left top;}
.snb_sub_list .snb_2depth{float:left;width:180px;}
.snb_sub_list .snb_2depth .snb_2depth_link{display:block;padding:3px 0 4px 21px;color:#00704a;background:url(/project/images/common/bl_snb_2depth_square.gif) no-repeat 10px center;font-weight:bold}
.snb_sub_list .snb_2depth.on .snb_2depth_link{color:#d31145;text-decoration:underline}
.snb_sub_list .snb_2depth .snb_2depth_link:hover,
.snb_sub_list .snb_2depth .snb_2depth_link:focus,
.snb_sub_list .snb_2depth .snb_2depth_link:active{color:#d31145;text-decoration:underline}

.snb_list .snb_1depth.on .snb_sub_list{display:block;}

/* content */
.content_top{position:relative;}
.content_tit{height:87px;margin-top:35px;padding:53px 0 0 0;border-bottom:1px solid #dcdad3}
.content_tit.bg_recruit{background:url(/project/images/common/bg_visual_recruit.png) no-repeat right bottom;}
.content_tit.bg_mypage{background:url(/project/images/common/bg_visual_mypage.png) no-repeat right bottom;}
.content_tit.bg_custom{background:url(/project/images/common/bg_visual_custom.png) no-repeat right bottom;}
.content_tit.bg_service{background:url(/project/images/common/bg_visual_service.png) no-repeat right bottom;}
.content_tit.bg_member{background:url(/project/images/common/bg_visual_member.png) no-repeat right bottom;}
.content_tit.bg_event{background:url(/project/images/common/bg_visual_event.png) no-repeat right bottom;}
.content_tit.bg_store{background:url(/project/images/common/bg_visual_store.png) no-repeat right bottom;}
.content_tit.bg_brand{background:url(/project/images/common/bg_visual_brand.png) no-repeat right bottom;}
.content_tit.bg_talk{background:url(/project/images/common/bg_visual_talk.png) no-repeat right bottom;}
.content_tit.bg_homeservice{background:url(/project/images/common/bg_visual_homeservice.png) no-repeat right bottom;}
.content_tit .txt{font-size:41px;line-height:28px;font-weight:700;letter-spacing:-3px;}
.content_tit .txt.type02 {font-size:35px}
.content_tit .txt02{font-size:50px;line-height:36px;font-weight:700;letter-spacing:-3px;}
.content_tit .tit_copy{display:block;padding:2px 0 0 0;font-weight:700;}
.content_tit .tit_copy02{display:block;padding:15px 0 0 0;font-weight:700;font-size:14px;letter-spacing:-1px}
.content_tit02{position:relative;height:71px;margin-top:35px;padding:53px 0 0 0;background:url(/project/images/common/bg_footer_line.gif) repeat-x left bottom;}
.content_tit02 .txt{font-size:41px;line-height:41px;font-weight:700;letter-spacing:-3px}
.location_bar{position:absolute;top:8px;right:0;margin:0 0 0 0;}
.location_bar li{float:left;margin:0 0 0 4px;padding:0 0 0 10px;background:url(/project/images/common/bl_location.gif) no-repeat left center}
.location_bar li.home{margin-left:0;padding-left:0;background: none;}
.location_bar li.home img{display:block;margin-top:3px;}
.location_bar li .bar_item{display:inline-block;color:#ffffff;}
.content_body{position:relative;padding:0 0 70px 0;}
.content_body.pdt0{padding-top:0;}
.content_body.mgt50{margin-top:50px;}
.content_body.mgt20{margin-top:20px;}

/* sns content */
.sns_area_wrap{position:relative;}
.sns_area{position:absolute;top:-66px;right:0;}
.sns_area ul{margin-left:21px;}
.sns_area li{float:left;margin:0 7px 0 0;}
.sns_area li.btn_like{margin:0 5px 0 0;padding:8px 0 0 0;}
.sns_area li.btn_like .baloon{display:inline-block;margin:2px 0 0 0;padding:0 0 0 5px;background:url(/project/images/common/bl_facebook_corner.png) no-repeat left top;text-align:center;}
.sns_area li.btn_like .baloon .num{display:inline-block;padding:0 2px;height:16px;font-size:11px;border:1px solid #c1c1c1;border-left:0;}
.sns_area li.mgr0 {margin:0}

/* footer content */
#footer {}
#footer.on {border-top:5px solid #00704a}
.footer_wrap {width:100%;height:140px;background:#ffffff url(/project/images/common/bg_footer_line.gif) repeat-x left top;z-index:10}
.footer_content{width:980px;margin:0 auto;}
.footer_content .fc01{float:left;}
.footer_content .fc02{float:right;position:relative;}
.footer_menu{padding:30px 0 0 0;}
.footer_menu li{float:left;margin:0  0 0 10px;padding:0 0 0 10px;background:url(/project/images/common/bl_footer_bar.gif) no-repeat left 2px}
.footer_menu li.first_child{margin-left:0;padding-left:0;background:none}
.footer_txt{padding:13px 0 0 0;padding-top:16px\0IE8+9;#padding-top:16px;}
.footer_txt li.txt01{}
.footer_txt li.txt02{margin:10px 0 0 0;#margin:8px 0 0 0;}
.family_list01{display:block;width:222px;position:absolute;top:50px;right:0;}
.family_list01 li {float:left;margin-left:4px}
.family_list01 li.btn_world_wide{float:right}
.family_list01 li .world_pannel {display:none;position:absolute;left:-759px;top:-749px;width:980px;z-index:0}

.family_list01 li .world_pannel  h3 {margin:59px 0 24px 0;text-align:center}
.family_list01 li .world_pannel  p {margin-bottom:28px;text-align:center;font-size:16px}
.family_list01 li .world_pannel .map_sec {position:relative;float:left;width:948px;height:516px;margin:0 auto 0 auto;background:url(/project/images/common/img_world_map.gif) no-repeat left top}

.family_list01 li .world_pannel .map_sec a {position:absolute;display:block;width:18px;height:22px;background:url(/project/images/common/img_worldstore_off.png) no-repeat 50% top;text-align:center;cursor:default;}
.family_list01 li .world_pannel .map_sec a:hover,
.family_list01 li .world_pannel .map_sec a:active,
.family_list01 li .world_pannel .map_sec a:focus {position:relative;z-index:10;width:105px;height:32px;margin:-24px 0 0 -43px;padding-top:14px;background:url(/project/images/common/img_worldstore_on.png) no-repeat 50% bottom}

.family_list01 li .world_pannel .map_sec a:hover span,
.family_list01 li .world_pannel .map_sec a:active span,
.family_list01 li .world_pannel .map_sec a:focus span {font-size:13px;font-weight:700;text-indent:0;color:#fff;line-height:13px}

.family_list01 li .world_pannel .map_sec a.spot01 {left:80px;top:208px}
.family_list01 li .world_pannel .map_sec a.spot02 {left:155px;top:215px}
.family_list01 li .world_pannel .map_sec a.spot03 {left:156px;top:243px}
.family_list01 li .world_pannel .map_sec a.spot04 {left:191px;top:238px}
.family_list01 li .world_pannel .map_sec a.spot05 {left:172px;top:259px}
.family_list01 li .world_pannel .map_sec a.spot06 {left:197px;top:259px}
.family_list01 li .world_pannel .map_sec a.spot07 {left:193px;top:279px}
.family_list01 li .world_pannel .map_sec a.spot08 {left:212px;top:270px}
.family_list01 li .world_pannel .map_sec a.spot09 {left:225px;top:154px}
.family_list01 li .world_pannel .map_sec a.spot10 {left:311px;top:218px}
.family_list01 li .world_pannel .map_sec a.spot11 {left:268px;top:254px}
.family_list01 li .world_pannel .map_sec a.spot12 {left:309px;top:281px}
.family_list01 li .world_pannel .map_sec a.spot13 {left:326px;top:308px}
.family_list01 li .world_pannel .map_sec a.spot14 {left:312px;top:318px}
.family_list01 li .world_pannel .map_sec a.spot15 {left:337px;top:330px}
.family_list01 li .world_pannel .map_sec a.spot16 {left:375px;top:222px}
.family_list01 li .world_pannel .map_sec a.spot17 {left:401px;top:223px}
.family_list01 li .world_pannel .map_sec a.spot18 {left:353px;top:244px}
.family_list01 li .world_pannel .map_sec a.spot19 {left:360px;top:271px}
.family_list01 li .world_pannel .map_sec a.spot20 {left:414px;top:378px}
.family_list01 li .world_pannel .map_sec a.spot21 {left:714px;top:180px}
.family_list01 li .world_pannel .map_sec a.spot22 {left:732px;top:203px}
.family_list01 li .world_pannel .map_sec a.spot23 {left:673px;top:259px}
.family_list01 li .world_pannel .map_sec a.spot24 {left:716px;top:245px}
.family_list01 li .world_pannel .map_sec a.spot25 {left:742px;top:265px}
.family_list01 li .world_pannel .map_sec a.spot26 {left:803px;top:343px}

.family_list01 li .world_pannel .map_sec a span {font-size:0;line-height:0;text-indent:-9999em}
.family_list01 li .world_pannel .spot_info {float:left;width:282px;padding-top:30px}
.family_list01 li .world_pannel .spot_info .store_img {border:1px solid #b8b3a7}
.family_list01 li .world_pannel .spot_info dl {margin:12px 0}
.family_list01 li .world_pannel .spot_info dl dt {margin-bottom:4px;font-size:14px;font-weight:700;color:#d31145}
.family_list01 li .world_pannel .spot_info dl dd {font-size:13px}
.family_list01 li .world_pannel .off_pannel {margin-left:-27px;position:absolute;left:50%;top:-30px}
.family_list02{position:absolute;top:87px;right:0;width:370px;text-align:right;}
.family_list02 .ico_family{margin-left:15px;}
.family_list02 .ico_facebook{margin:0 3px 0 21px;}

/* tbl_wrap */
.tbl_wrap{position:relative;margin:50px 0 20px 0;}
.tbl_wrap02{position:relative;margin:0 0 40px 0}
.tbl_wrap02_add{position:relative;margin:0 0 20px 5px}
.tbl_wrap02.last{margin-bottom:30px}
.tbl_wrap03{margin:40px 0 20px 0}
.tbl_wrap02.mgt30 {margin-top:30px}
.tbl_wrap02 .form_add,.tbl_wrap02 .form_del{position:absolute;top:-29px;right:0}

/* tbl_list */
.tbl_list{width:760px;}
.tbl_list th{height:40px;background-color:#EDEBE6;border-bottom:1px solid #dcdad3;font-size:14px;color:#000000;text-align:center;font-weight:600}
.tbl_list th.line {background-color:#F3F2ED;border-right:1px solid #dcdad3;}
.tbl_list td{padding:11px 0 12px 0;text-align:center;border-bottom:1px solid #dcdad3;font-size:13px;color:#000}
.tbl_list td.title{padding-left:15px;text-align:left}
.tbl_list td.title .icon{display:inline-block;height:15px;vertical-align:middle}
.tbl_list td.line {border-right:1px solid #dcdad3;}
.tbl_list .last td{border-bottom:1px solid #000}
.tbl_list .group{color:#d31145;font-size:13px}


/* tbl_view */
.tbl_view {width:760px;border-top:1px solid #000}
.tbl_view.bdt_gray{*border-collapse: expression('separate', cellSpacing = '1px');margin-bottom:25px;border-top:1px solid #dcdad3}
.tbl_view th{padding:11px 0 11px 20px;background-color:#F3F2ED;font-size:13px;color:#000000;border-bottom:1px solid #dcdad3;border-right:1px solid #D6D4CC;font-weight:600}
.tbl_view td{padding-left:10px;font-size:13px;color:#000000;border-bottom:1px solid #dcdad3}
.tbl_view .c_th{border-left:1px solid #dcdad3;border-right:1px solid #dcdad3}
.tbl_view .c_th02{border-right:1px solid #dcdad3;line-height:1.2}
.tbl_view th.last {border-right:none;}
.tbl_view .last th,.tbl_view .last td{border-bottom:1px solid #000}
.tbl_view .data_view{min-height:300px;padding:20px 10px 20px 10px}
.tbl_view .data_view.view_one{border-bottom:1px solid #000}
.tbl_view .file{padding-left:25px;background:url(/project/images/common/ico_file.gif) no-repeat left center;color:#000;text-decoration:underline}
.tbl_view .detail_view{padding:17px 10px}
.tbl_view .detail_view p{line-height:1.6}
.tbl_view .detail_view img{margin-right:4px;#margin-right:2px;border:1px solid #b8b3a7}
.tbl_view .store_img_area{float:left;position:relative;width:320px;height:240px;margin-top:10px;}
.tbl_view .store_img_area img{border:0;}
.tbl_view .store_img_area .btn_move{display:block;position:absolute;bottom:0;z-index:10;width:35px;height:26px;padding:9px 0 0 0;text-align:center;}
.tbl_view .store_img_area .btn_prev{left:0;}
.tbl_view .store_img_area .btn_next{right:0;}
.tbl_view .store_img_area .btn_move:hover,
.tbl_view .store_img_area .btn_move:focus,
.tbl_view .store_img_area .btn_move:active{width:33px;height:25px;padding:8px 0 0 0;background:#00704a;border:1px solid #006643;}
.tbl_view .store_img_wrap{float:left;width:320px;height:240px;text-align:center;}
.tbl_view .store_img_wrap .roll_cont{position:relative;z-index:5;width:320px;height:240px;line-height:0;}
.tbl_view .store_img_area .ctrl_box{position:absolute;bottom:0;left:0;z-index:5;width:320px;height:55px;background:url(/project/images/store/bg_roll_btn.png) repeat-x left bottom;}
.tbl_view .store_img_wrap .roll_cont .btn{display:inline-block;position:relative;top:213px;#top:217px;z-index:10;width:11px;height:11px;background:url(/project/images/store/bg_roll_off.png) no-repeat center center;line-height:0;}
.tbl_view .store_img_wrap .roll_cont .btn:hover,
.tbl_view .store_img_wrap .roll_cont .btn:focus,
.tbl_view .store_img_wrap .roll_cont .btn:active{background-image:url(/project/images/store/bg_roll_on.png)}
.tbl_view .store_img_wrap .roll_cont .btn.on{background-image:url(/project/images/store/bg_roll_on.png)}
.tbl_view .store_img_wrap .roll_cont .img{display:block;position:absolute;top:0;left:0;width:318px;height:238px;border:1px solid #b8b3a7;}
.tbl_view .store_img_wrap .roll_cont .img img{width:318px;}
.tbl_view .tit_st01{background-color:#EDEBE6}

.tbl_view .store_map_area{float:left;width:320px;height:240px;margin-left:10px;margin-top:10px;}
.tbl_view .store_map_area img{border:0;}


/* tbl_data */
.tbl_data {width:760px;border-top:1px solid #000}
.tbl_data.bdt_gray{margin-bottom:25px;border-top:1px solid #dcdad3}
.tbl_data th{padding:11px 0 11px 20px;background-color:#EDEBE6;font-size:13px;color:#000000;border-bottom:1px solid #dcdad3;font-weight:600}
.tbl_data td{padding:11px 0 11px 10px;font-size:13px;color:#000000;border-bottom:1px solid #dcdad3;line-height:23px}
.tbl_data .c_th{border-left:1px solid #dcdad3;border-right:1px solid #dcdad3}
.tbl_data .c_th02{border-right:1px solid #dcdad3}
.tbl_data .last th,.tbl_data .last td{border-bottom:1px solid #000}
.tbl_data .data_view{min-height:105px;padding:10px}
.tbl_data .data_view.view_one{border-bottom:1px solid #000}
.tbl_data .file{padding-left:25px;background:url(/project/images/common/ico_file.gif) no-repeat left center;color:#000;text-decoration:underline}
.tbl_data .detail_view{padding:17px 10px}
.tbl_data .detail_view p{line-height:1.6}
.tbl_data .detail_view img{margin-right:4px;#margin-right:2px;border:1px solid #b8b3a7}

/* tbl_write */
.tbl_write{width:760px;border-top:1px solid #000}
.tbl_write th{padding:10px 0 10px 20px;background-color:#EDEBE6;font-size:13px;color:#000000;border-bottom:1px solid #dcdad3;font-weight:600}
.tbl_write td{padding:10px 0 10px 10px;font-size:13px;color:#000000;border-bottom:1px solid #dcdad3}
.tbl_write .last th,.tbl_write .last td{border-bottom:1px solid #000}
.tbl_write .c_th02{border-right:1px solid #dcdad3}
.tbl_write .add_txt{display:block;padding-top:5px;padding-left:10px;text-indent:-10px;color:#666666}
.tbl_write .add_txt02{padding:3px 0 0 5px;color:#666666;padding-left:10px;text-indent:-10px;}
.tbl_write label{margin-right:20px;}
.tbl_write input[type=radio]{margin-right:5px}

/* pagination */
.pagenation{text-align:center}
.pagenation *{vertical-align:middle}
.pagenation a{display:inline-block;#position:relative;width:26px;height:10px;margin-left:-1px;padding:4px 0 12px 0;border:1px solid #d0cbbf;text-align:center;color:#000;font-size:13px}
.pagenation a.on{position:relative;background:#00704a;border:1px solid #283c16;color:#ffffff}
.pagenation .btn{width:auto;height:28px;margin-left:-3px;padding:0;border:0 none}

/* prev/next */
.pn_list{width:760px;border-top:1px solid #b8b3a7;border-bottom:1px solid #b8b3a7}
.pn_list.mgb20{margin-bottom:20px}
.pn_list li{overflow:hidden}
.pn_list li a{width:645px}
.pn_list .prev span{background:#F3F2ED url(/project/images/common/btn_pn_prev.gif) no-repeat 80% center;}
.pn_list .next span{border-bottom:0 !important;background:#F3F2ED url(/project/images/common/btn_pn_next.gif) no-repeat 80% center;}
.pn_list .prev span,.pn_list .next span{float:left;width:79px;padding:11px 0 11px 20px;border-right:1px solid #dcdad3;border-bottom:1px solid #dcdad3;font-size:13px;color:#6d5e4e;font-weight:600}
.pn_list a{float:left;display:inline-block;padding:11px 0 11px 15px;border-bottom:1px solid #dcdad3;font-size:13px;color:#666666;text-align:left}
.pn_list .next a{border-bottom:0 none}

/* bullet */
.txt_question p{margin:40px 0 10px 0;padding-left:25px;background:url(/project/images/common/ico_question.png) no-repeat left center;font-size:16px;color:#000000;font-weight:700}
.txt_question p.mt0{margin-top:0}
.txt_tit{margin-bottom:10px;padding-left:20px;background:url(/project/images/common/bl_square_arrow.gif) no-repeat left center;font-size:16px;color:#000000;font-weight:600}
.txt_tit.top {margin:40px 0 10px 0;}
.bd_dotte_line{margin-bottom:30px;padding-bottom:30px;border-bottom:1px dotted #b8b3a7}

/* btn align */
.btn_area02{margin-bottom:40px;text-align:right}
.btn_area02 a{margin-left:3px}


/* menu */
.content_tit.bg_doughnut{background:url(/project/images/menu/bg_visual_doughnut.png) no-repeat right bottom}
.content_tit.bg_coffee{background:url(/project/images/menu/bg_visual_coffee.png) no-repeat right bottom}
.content_tit.bg_bakery{background:url(/project/images/menu/bg_visual_bakery.png) no-repeat right bottom}
.content_tit.bg_branding{background:url(/project/images/menu/bg_visual_branding.png) no-repeat right bottom}

.menu_prd {position:relative;min-height:480px;padding-left:380px;z-index:110}
.menu_prd .prd_img{position:absolute;left:0;top:0}
.menu_prd .prd_name{display: block;padding-bottom: 3px;;color:#000000;font-size:30px;line-height: 30px;font-weight:700;letter-spacing:-1px;}
.menu_prd .prd_name_eng{display: block;color:#d31145;font-size:20px;line-height: 30px;font-weight:700;}
.menu_prd .prd_description{margin:19px 0 27px 0;font-size: 14px;line-height: 20px;}
.menu_prd .sns_area{left:63px;top:377px;width: 360px;z-index:150}
.menu_prd .nutrient_area{position:relative;left:0;top:0;width:360px;margin:25px 0 0 25px}

.nutrient_area .nutrient_tit{margin:15px 0 19px 0;font-size:16px;font-weight: 700;line-height: 16px}
.nutrient_table{width:410px;border-top:1px solid #b8b3a7;border-bottom:1px solid #b8b3a7}
.nutrient_table table{width: 100%;text-align: center}
.nutrient_table table *{text-align: center}
.nutrient_table th{padding:2px 0 2px 0 ;border-right:1px solid #dcdad3;border-bottom:1px solid #dcdad3;background-color:#f4f4f2;color:000;font-weight: 700;}
.nutrient_table td{padding:6px 0 9px 0 ;border-right:1px solid #dcdad3}
.nutrient_table .last{border-right:none}

.nutrient_area .view_nutrient{display:inline-block}
.nutrient_info{position: absolute;left:0;top:0;z-index:150;width:434px;height:265px;padding-left: 20px;background:url(/project/images/menu/bg_nutrient.png) no-repeat 0 0 }
.nutrient_info.oneline{position: absolute;left:0;top:0;z-index:150;width:434px;height:195px;padding-left: 20px;background:url(/project/images/menu/bg_nutrient_01.png) no-repeat 0 0 }/* 2015-08-11 영양정보 수정(한줄짜리) */
.nutrient_info .nutrient_notice{margin-top:10px;color:#000;font-weight: 700 }
.nutrient_info .nutrient_close{display: block;position:absolute;right:40px;top:15px}

/* 레이어스크롤추가 2015-01-29 */
.nutrient_info .scroll_area {width:397px;height:245px;margin-top:5px;padding-right:17px;overflow-y:scroll;}
.nutrient_info .scroll_area .nutrient_table {width:395px;}
.nutrient_info .scroll_area .nutrient_tit {margin:20px 0 10px 0;}
.nutrient_info .scroll_area .nutrient_notice {color:#666;}

.prd_info_table{width: 380px;margin-bottom:25px}
.prd_info_table table{width:100%;text-align: center;border:1px solid #000;border-left:none;border-right:none}
.prd_info_table td, .prd_info_table th{height:40px;text-align: center}
.prd_info_table th{border-right:1px solid #d3cec4;border-bottom:1px solid #d3cec4;background-color:#EDEBE6;font-size:16px;font-weight: 700;}
.prd_info_table td{border-right:1px solid #d3cec4}
.prd_info_table .last{border-right:none}
.prd_info_table .prd_price{display: inline-block;margin-top:18px;padding:56px 0 18px 0;background: url(/project/images/common/ico_price.png) no-repeat center 0;color:#d31145;font-size:16px;font-weight:700}
.prd_info_table .material_strawberry{min-width:75px;display: inline-block;margin-top:18px;padding:56px 0 18px 0;background: url(/project/images/common/ico_strawberry.png) no-repeat center 0;color:#d31145;font-size:16px;font-weight:700}
.prd_info_table .material_cheese{min-width:75px;display: inline-block;margin-top:18px;padding:56px 0 18px 0;background: url(/project/images/common/ico_cheese.png) no-repeat center 0;color:#d31145;font-size:16px;font-weight:700}
.prd_info_table .ico_size{position:relative;top:1px;*top:2px;padding-right:7px;vertical-align:top}
:root .prd_info_table .ico_size{top:2px \0/IE9}

.prd_with{position: relative;height: 144px;padding-top:10px;background:url(/project/images/menu/bg_with.png) no-repeat 0 0}
.with_prd_img{position: absolute;left:0;top:28px;width:105px;height:105px}
.with_americano {height: 144px;padding-top:10px;background:url(/project/images/menu/bg_with_americano.png) no-repeat 0 0}
.with_doughnut {height: 144px;padding-top:10px;background:url(/project/images/menu/bg_with_doughnut.png) no-repeat 0 0}
.prd_with .with_tit{padding-top:0;font-size: 16px;line-height: 20px;font-weight: 700}
.prd_with a{display:block;}
.prd_with dt{font-size: 16px;color:#d31145;font-weight: 700;line-height: 29px}
.prd_with dd{color:#000000;font-weight:400;font-size:13px}

.prd_with dl{margin:21px 0 0 100px}
.with_baked{height: 139px;padding-top: 15px}
.with_baked dl{margin:5px 0 0 124px}
.with_baked .baked_logo{float:left}
.bg_none {background:none}

.cate_rolling{position:relative;width:760px;height:200px;z-index:100;margin-top:40px;background: url(/project/images/menu/bg_cate_slide.png) ;}
.cate_rolling .ctrl_btn{display: block;position: absolute;top:81px;width:20px;height:38px}
.cate_rolling .ctrl_btn.prev{position: absolute;left:20px;background:url(/project/images/menu/btn_c_prev_off.png) no-repeat 0 0;}
.cate_rolling .ctrl_btn.prev:focus, .cate_rolling .ctrl_btn.prev:hover {background-image: url(/project/images/menu/btn_c_prev_on.png)}
.cate_rolling .ctrl_btn.next{position: absolute;left:720px;background:url(/project/images/menu/btn_c_next_off.png) no-repeat 0 0;}
.cate_rolling .ctrl_btn.next:focus, .cate_rolling .ctrl_btn.next:hover {background-image: url(/project/images/menu/btn_c_next_on.png)}

.rollmask{position: relative;overflow:hidden;width:666px;height:191px;margin-left:45px;padding-left:8px; *zoom:1}
.cate_rolling li{position:relative;float:left;width:130px;;padding-top:25px;text-align: center;font-size: 16px;line-height: 20px;color:#000000}
.cate_rolling li a{display:block; color:#000000;font-weight:700}
.cate_rolling li.current_cate {padding-top:10px}
.cate_rolling li.current_cate a{color:#00704a;}
.cate_rolling .cate_name{display: block;overflow:hidden;position: relative;z-index:110;width:130px;margin-top:0;font-size: 13px;line-height:18px}
.current_cate .cate_name{margin-top: 10px;font-size: 16px}
.cate_rolling .current_cate .cate_name{margin-top:50px;line-height:18px}
.cate_rolling .current_cate .cate_name a{ }
.cate_rolling .cate_img{position: relative;z-index:100;width:95px;height:95px}
.current_cate .bg_current_cate{display:block;position: absolute;left:-8px;top:17px;z-index:90;width:146px;height:139px;line-height:17px;background: url(/project/images/menu/bg_menu_current.png) no-repeat 0 0}
.cate_rolling .current_cate .cate_img {top:15px}
#coffee .cate_rolling .current_cate .cate_img {top:5px}
.branding_tit_wrap{padding:50px 0 0 0;}
.branding_tit{margin-bottom: 10px;padding-left:24px;font-size: 16px;font-weight:700;background: url(/project/images/menu/bl_branding.png) no-repeat 0 1px}

.branding_list{width:760px;margin-bottom: 39px;border:1px solid #000000; border-left:none;border-right:0;background: url(/project/images/menu/bg_brandprd_line.gif) repeat-y 0 0}
.branding_list li{position: relative;float:left;width:190px;height: 220px;border-bottom:1px solid #dcdad3;text-align:center}

.branding_list .ico_prd_stat{position: absolute;right:11px;top:10px}
.branding_list .prd_name,.branding_list .prd_price{display:block;font-size: 13px;line-height: 15px;color:#000000}
.branding_list li .prd_price{color:#d31145;line-height: 21px;}

.bb_none{border-bottom: none!important;}

.mgt12 {margin-top: 12px!important}
.mgt20 {margin-top: 20px!important}
.pal22{padding-left:22px!important}

/* join_id */
.join_id {width:760px;height:42px;margin-top:8px;padding:30px 0 0 0;text-align:center;font-size:14px;color:#00704a;background:url(/project/images/common/bg_join_id.png) no-repeat left top}
.join_id strong {font-weight:700;color:#000000}

/* green_list */
.green_list li {padding-left:11px;background:url('/project/images/common/bl_green_list.gif') no-repeat left 50%;font-size:13px}
.red_list li {padding-left:11px;background:url('/project/images/common/bl_red.gif') no-repeat left 6px;font-size:13px}



/* 2014-03-07 회원정보 변경 시 인증 체크 */
.txt_info{font-size:14px; color:#000000;font-weight:500; line-height:1.6}
.info_pw_box{border:3px solid #dcdad3; margin-bottom:15px; padding:20px;}


/* datepicker form */
/* Form UI */
.datePicker,
.datePicker2 {height:17px;padding:2px 0 0 5px;border:1px solid #CBCBCB}
.datePicker,
.datePicker2 {width:95px !important;background:#fff url("/project/images/common/ico_calendar.gif") no-repeat 78px 5px}


/* 20170801 홈서비스 메뉴 추가 */
.homeservice .p_sns_area {display:inline-block; vertical-align:middle}
.best_list {margin:5px 0 45px; border-top:1px solid #000; border-bottom:1px solid #000; overflow:hidden}
.best_list li {float:left; width:252px; padding:19px 0; text-align:center; border-right:1px solid #dcdad3; border-bottom:1px solid #dcdad3; font-size:14px}
.best_list li.brnone {border-right:0}
.best_list li.bdnone {border-bottom:0}
.homeservice .txt_tit {margin-bottom:20px}
.homeservice .txt_tit + .red_list {margin:0 0 30px 20px}
.homeservice_company {overflow:hidden; border-bottom:1px solid #dcdad3}
.homeservice_company li {position:relative; float:left; width:379px; height:159px; padding-bottom:51px; text-align:center; border-top:1px solid #dcdad3; line-height:159px;}
.homeservice_company li + li {border-left:1px solid #dcdad3}
.homeservice_company li + li + li {border-left:0; border-right:1px solid #dcdad3}
.homeservice_company li + li + li + li {border-right:0}
.homeservice_company li img {vertical-align:middle}
.homeservice .tab_list {margin-bottom:30px !important}
.homeservice .btn_go {position:absolute; left:0; bottom:0; width:339px; height:30px; padding:11px 20px 10px; border-top:1px dashed #dcdad3}
.homeservice .btn_go a {float:right}
.homeservice .btn_go span {float:left; line-height:30px; font-size:16px; padding-left:11px; background:url(/project/images/common/bl_red.gif) no-repeat left 13px;}

/* 2018-08-27 lotte on 배너 추가 */
.event_lotteon {position: absolute;top:80px;left:-204px;}

.wrap_sel {display:inline-block; width:150px; height:25px; border-radius:13px; border:1px solid #b2b2b2; text-align:center}
.wrap_sel select {width:132px; border:0; color:#636363; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url(/project/images/common/dropdown.gif) 100% 50% no-repeat;}
.wrap_sel select::-ms-expand {display:none}

