@charset "utf-8";
@import url(/projcet/css/default.css);
/* css info
normal :font-weight:400
bold:font-weight:700
word-wrap:break-word;word-break:break-all;
line-height:28px\0IE8+9;
*/

.certify_area{width:734px; height:194px; padding:22px 13px; background: url('/project/images/util/bg_certify.jpg'); margin-top:40px}
.certify_area .bl_pinkarrow{color: #bf0b3b; font-size: 16px; font-weight: 700; padding-left: 18px; line-height:22px; background: url('/project/images/util/bl_pinkarrow.gif') no-repeat left 5px}
.certify_area .certify_cont{color:#000000;  font-size: 13px; line-height: 20px; padding:0 0px 0 18px; margin-top:10px}
.certify_area .btn_area_center{ text-align: center; margin-top: 20px}

/*popup*/
.bg_green{background: #00704a url('/project/images/util/bg_pop_pattern.png') no-repeat left top / 100%;}
.customwh_01{width:440px; height:624px;position:relative}
.customwh_01.short{width:440px; height:270px;position:relative}
.customwh_01.h363{width:440px; height:363px;position:relative}
.customwh_01.h385{width:440px; height:385px;position:relative}
.zip_code_wrap{width:358px !important;height:433px;#top:33px;}
.bg_green .top_wrap{position: relative; height:53px}
.bg_green .top_wrap h2{position: absolute; left:20px; top:15px}
.bg_green .top_wrap .btn_pop_close{position: absolute; right:20px; top:20px}
.bg_green h3{margin-top:px; color:#00704a; font-size: 16px; font-weight: 700}
.bg_green .cont_wrap{ position: absolute;left:5px;  top:53px; width:398px; height:526px; padding:20px 16px; background:#ffffff}
.bg_green .cont_wrap.short{height: 172px}
.bg_green .cont_wrap.h265{height: 265px}
.bg_green .cont_wrap.h285{height: 285px}
.bg_green .cont_wrap.h265 .email_input{display: inline-block; width:210px; line-height:1; border-bottom: 1px solid #b8b3a7; color: #000000; text-align: center}
.bg_green .cont_wrap.h265 .other_email{display: inline-block; font-size: 14px;  font-weight: 700; color: #000000; margin-right:5px}
.bg_green .cont_wrap .mt50{padding-top: 50px!important; line-height: 1}
.bg_green .cont_wrap .mt30{padding-top: 30px!important}
.bg_green .cont_wrap .mt20{padding-top: 20px!important}
.bg_green .cont_wrap .mt10{padding-top: 10px!important}
.zipcode.bg_green .cont_wrap{ position: absolute;left:5px;  top:53px; width:354px; height:526px; padding:20px 38px; background:#ffffff;}
.bg_green .cont_wrap.short{height: 172px;}
.bg_green .cont_wrap.h265{height: 265px;}
.bg_green .cont_wrap.h285{height: 285px;}
.bg_green .cont_wrap.h265 .email_input{display: inline-block; width:210px; line-height:1; border-bottom: 1px solid #b8b3a7; color: #000000; text-align: center;}
.bg_green .cont_wrap.h265 .other_email{display: inline-block; font-size: 14px;  font-weight: 700; color: #000000; margin-right:5px;}
.bg_green .cont_wrap .mt50{padding-top: 50px!important; line-height: 1;}
.bg_green .cont_wrap .mt30{padding-top: 30px!important;}
.bg_green .cont_wrap .mt20{padding-top: 20px!important;}
.bg_green .cont_wrap .mt10{padding-top: 10px!important;}

.bg_green .cont_wrap .padb10{padding-bottom: 10px}
.bg_green .cont_wrap p{color:#00704a; font-weight:700; font-size: 13px; line-height: 19px}
.bg_green .cont_wrap p.cl_black{color:#000000}
.bg_green .cont_wrap p.cl_gray{color:#666666}
.bg_green .cont_wrap p.f12{font-size:12px}
.bg_green .cont_wrap p.padl70{padding-left: 70px}
.bg_green .cont_wrap p.center{text-align: center}
.bg_green .cont_wrap p.f16{}
.bg_green .cont_wrap strong{display: block; font-weight:700; font-size: 13px; line-height: 19px}
.bg_green .cont_wrap dl dt, .bg_green .cont_wrap dl dd{float: left}
.bg_green .cont_wrap dl dt{width:70px; padding:0 10px 0 20px; color:#000000; font-size: 14px;font-weight:700;  line-height: 28px; vertical-align: middle}
.bg_green .cont_wrap dl dt.short{width:53px; padding:0 10px 0 44px!important; color:#000000; font-size: 14px;font-weight:700;  line-height: 28px; vertical-align: middle}
.bg_green .cont_wrap .btn_area_center{ text-align: center; margin-top: 15px}
.bg_green .cont_wrap .btn_area_center label{font-weight: 700}
.bg_green .cont_wrap .btn_area_center label span{padding-left:5px}
.bg_green .cont_wrap .bg_dashed{padding-bottom:30px; background: url('/project/images/util/bg_dashed_line.gif') no-repeat left bottom}
.bg_green .cont_wrap .bg_dashed a{display:inline-block; width:91px; height:28px}
.bg_green .cont_wrap .notification{height:98px; overflow: auto; padding:15px 13px; border: 1px solid #b8b3a7}
.bg_green .cont_wrap .bd_bottom{border-bottom: 1px solid #b8b3a7}
.bg_green.short{position:relative;}
.bg_green.short .btn_pop_close{position:absolute;top:20px;right:20px;}
.bg_green.mobile{position:relative;}
.bg_green.mobile .btn_pop_close{position:absolute;top:20px;right:20px;}
.bg_green.zipcode{position:relative;}
.bg_green.zipcode .btn_pop_close{position:absolute;top:20px;right:20px;}
.bg_green{position:relative;}
.bg_green .btn_pop_close{position:absolute;top:20px;right:20px;}

.extend_time{padding:15px 36px 0 43px;}
.extend_time .time_txt{display:block;float:left;margin:5px 0 0 0;color:#d63156;font-size:13px;font-weight:700;}
.extend_time .btn_extend_time{display:block;float:right;margin:0;}

.btn_road_search{position:absolute;top:-33px;left:186px}
.zipcode_category .bx_address {overflow-y:scroll;overflow-x:hidden;height:222px;border:1px solid #BFBFBF}
.zipcode_category .bx_address ul {margin:5px 0}
.zipcode_category .bx_address li * {vertical-align:middle}
.zipcode_category .bx_address li {margin-bottom:0;padding:3px 0 3px 10px;font-size:13px}
.zipcode_category .bx_address li span {display:inline-block;width:265px}
.zipcode_category .bx_address li:focus,
.zipcode_category .bx_address li:hover {background-color:#F1F0ED}
.zipcode_category .bx_address li:focus span,
.zipcode_category .bx_address li:hover span {color:#d31145;text-decoration:underline}
.zipcode_category .bx_address li.no_data {padding:90px 0;text-align:center}
.zipcode_category .bx_address li.no_data:focus,
.zipcode_category .bx_address li.no_data:hover {background:none}


/*privacy_area*/
.privacy_area{border-top:1px solid #000000; border-bottom: 1px solid #000000; padding-top: 5px}
.privacy_area .notification{overflow:auto; height:98px;padding:15px; border:1px solid #b8b3a7; font-size: 13px; color: #000000; }
.privacy_area .btn_area_center{ text-align: center; margin-top: 15px}
.privacy_area .padb15{padding-bottom: 15px}
.privacy_area .notification_agree h6{margin:20px 0 0 0;padding:0 0 10px 0}
.privacy_area .notification_agree dl{margin:10px 0 0 0}
.privacy_area .notification_agree dl ul{margin:10px 0 10px 15px}


/*zipcode*/
.zipcode_category{height:445px;}
.zipcode_category li{}
.zipcode_category li.tab_01_wrap, .zipcode_category li.tab_02_wrap{float:left; position:relative;/*height:217px*/}
.zipcode_category li div{position: absolute;left:0; width:355px}
.zipcode_category li div ul{margin-top:25px}
.zipcode_category li div ul li{margin-bottom:10px}
.zipcode_category li div ul li label{display:inline-block;width:60px;padding-left:10px; font-size:14px; color: #000000; font-weight: 700}
.zipcode_category li.tab_01_wrap, .zipcode_category li.tab_02_wrap{float:left; position:relative;/*height:445px;*/}
.zipcode_category li div{position: absolute; width:355px;}
.zipcode_category li div ul{margin-top:25px;}
.zipcode_category li div ul li{margin-bottom:10px;}
.zipcode_category li div ul li label{display:inline-block;width:60px;padding-left:10px; font-size:14px; color: #000000; font-weight: 700;}
.zipcode_category li div ul li label.star {background:url("/project/images/common/bg_star.gif") no-repeat left 5px}
.zipcode_category li div.tab_01{ }
.zipcode_category li div.tab_01 .cl_gray {position:absolute;left:0;top:0;margin:135px 0 0 0}
.zipcode_category li div.tab_02{display:none; margin-left:-79px}
.zipcode_category li div.tab_02 .cl_gray {position:absolute;left:0;top:0;margin:135px 0 0 0}
/* login */
.login_sec {padding-top:28px;background:url('/project/images/util/img_login_bx01.png') no-repeat left top}
.login_sec .login_sec_con {padding-top:28px;background:url('/project/images/util/img_login_bx02.png') repeat-y left top}
.login_sec .login_sec_con ul.input_idpw {float:left}
.login_sec .login_sec_con a.log_in {float:left;margin-left:10px}
.login_sec .login_sec_con ul {margin-left:154px}
.login_sec .login_sec_con ul li {margin-bottom:10px}
.login_sec .login_sec_con ul li.last {margin-bottom:0}
.login_sec .login_sec_con ul li label {display:inline-block;width:60px;font-size:14px;font-weight:700}
.login_sec .login_sec_con ul li.check_mail {margin:-2px 0 0 0;padding-left:62px}
.login_sec .login_sec_con ul li.check_mail label {width:auto;margin-left:6px;font-size:13px;font-weight:normal}
.login_sec .login_sec_foot {padding-bottom:18px;background:url('/project/images/util/img_login_bx03.png') no-repeat left bottom}

.login_util {margin:30px 40px 0;padding:15px 0 20px 0;background:url('/project/images/util/img_login_dot.png') repeat-x left top}
.login_util p.add_custom_info {float:left;margin-top:7px;padding-left:15px;background:url('/project/images/util/ico_phone.gif') no-repeat left 50%}
.login_util a {float:left}
.login_util a.second_btn {margin-left:150px;}

.login_sec .login_sec_con.trans_pwd {padding-top:18px}
.login_sec .login_sec_con.trans_pwd p.para_term {padding-left:37px}
.login_sec .login_sec_con.trans_pwd ul {margin:32px 0 0 158px}
.login_sec .login_sec_con.trans_pwd ul li label {width:130px}
.login_sec .login_sec_con.trans_pwd .txt_red {margin-bottom:9px;font-size:18px;font-weight:700;color:#d31145}
.login_sec .login_sec_con.trans_pwd .login_util {padding-bottom:14px}

/* btn */
.btn_area {margin-top:20px;text-align:center}
.btn_area .btns_term {margin-left:2px}
.btn_area.right {text-align:right}
.term_left {margin-left:2px}
.txt_c {text-align:center}

.table_tit {margin:40px 0 8px 0;padding-left:22px;background:url('/project/images/util/img_table_ico.gif') no-repeat left top;font-size:16px;font-weight:700}
.table_tit.first {margin-top:0}

/* data_table */
.data_table {border-top:1px solid #000;border-bottom:1px solid #000}
.data_table.noline {border-top:none;border-bottom:1px solid #000}
.data_table table {width:100%}
.data_table th {padding:10px 0 10px 23px;background-color:#EDEBE6;border-right:1px solid #d0cbbf;border-bottom:1px solid #d0cbbf;font-size:13px;font-weight:700}
.data_table td {padding:6px 0 6px 10px;border-right:1px solid #d0cbbf;border-bottom:1px solid #d0cbbf}
.data_table td.no_right {border-right:0}
.data_table td .desc_para {margin-top:3px}
.data_table tr.last th,
.data_table tr.last td {border-bottom:0}

.data_table .no_right p {line-height: 18px; margin-top: 8px}
.data_table .no_right span.at_mark{display: inline-block; width:20px; text-align: center}
.data_table .no_right span.notice_right{display: inline-block; margin-left:10px}
.data_table .no_right p, .data_table .no_right span{color: #666666}
.data_table .no_right .mgt7{margin-top: 7px}

.data_table ul li{*zoom:1; border-bottom: 1px solid #d0cbbf; padding-left:15px; padding-right: 20px}
.data_table ul li:before,.data_table ul li:after{display:table;line-height:0;content:""}
.data_table ul li:after{clear:both}
.data_table ul li .fright{float: right}
.data_table ul li .fright.mgt12{margin-top:12px}
.data_table ul li .fright.mgt22{margin-top:22px}

.data_table ul li span.greendot{display:inline-block; margin-top: 12px; margin-bottom: 12px}
.data_table ul li span.greendot{line-height: 1.4; vertical-align:middle;  padding-left: 10px; background: url('/project/images/util/bl_dotgreen.gif') no-repeat left 7px; font-weight: 700; color: #000000; font-size:13px }
.data_table ul li select{margin-top:7px; width:250px}
.data_table ul li input.rad{margin-right:5px}
.data_table ul li .btn_issue{display:inline-block; margin-right:120px; margin-top:15px}


/* privacy info modify */
.address_area{position:relative;margin:6px 0}
.address_area .zip_code{display:block;margin:0 0 8px 0}
.address_area .zip_code .input_txt{display:inline;margin:0 !important}
.address_area .zip_code .txt{}
.address_area .input_txt{display:block;margin:0 0 8px 0}

.add_info_frm{width:760px;border-top:1px solid #000000}
.add_info_frm th{padding:12px 0 12px 24px;background:url(/project/images/common/bl_green.gif) no-repeat 15px 19px;border-bottom:1px solid #d0cbbf;color:#000000;font-size:13px;font-weight:700}
.add_info_frm td{padding-left:25px;border-bottom:1px solid #d0cbbf}
.add_info_frm .last th,.add_info_frm .last td{border-bottom:1px solid #000000}
.add_info_frm label{display:inline-block;padding-right:27px;padding-left:5px}


/* withdraw */
.list_type01{margin:0 0 15px 0}
.list_type01.mgt50{margin-top:50px}
.list_type01 li{padding-left:10px;padding-bottom:10px;background:url(/project/images/common/bl_green.gif) no-repeat left 7px;font-size:13px;color:#000000;font-weight:700}

/* customer */
.agree_box{position:relative;margin-bottom:20px;padding:5px 0 10px 0;border-top:1px solid #000000;border-bottom:1px solid #000000;text-align:center}
.agree_box .txt_box{overflow-y:scroll;height:98px;margin-bottom:10px;padding:14px;border:1px solid #b8b3a7;background:#fff;line-height:1.5;text-align:left}
.agree_box label{margin-right:25px}
.agree_box input[type=radio]{margin-right:5px}
.agree_box span.txt_agree{position:absolute;bottom:-40px;left:0;font-weight:700}
.agree_box span.txt_agree input{margin-right:5px}

.country_info{}
.country_info .t_period,.country_info .t_content{float:left;width:50px;text-align:center}
.country01{margin-bottom:6px}

/* tbl view02 */
.tbl_view .tbl_sty01{background-color:#EDEBE6;border-bottom:1px solid #b8b3a7}
.tbl_view .tbl_sty02 {border-right:1px solid #dcdad3}
.tbl_view .tbl_sty03 {border-right:1px solid #dcdad3;border-bottom:1px solid #DCDAD3}
.tbl_view .tit_st01 {background:#edebe6}


/* form 요소에 설명이 input 보다 앞에 위치할경우 /// block */
.txt_info_block{position:relative}
.txt_info_block .add_txt,.txt_info_block .desc_para,.txt_info_block .txt_gray6{padding-top:32px;letter-spacing:-1px}
.txt_info_block input[type=file],.txt_info_block input[type=text]{position:absolute;top:0;left:0}

/* form 요소에 설명이 input 보다 앞에 위치할경우 /// inline */
.txt_info_inline{position:relative}
.txt_info_inline .add_txt,
.txt_info_inline .add_txt02{display:inline-block;padding:5px 0 9px 210px;letter-spacing:-1px}
.txt_info_inline .add_txt03{display:inline-block;padding:5px 0 9px 160px;color:#666666;letter-spacing:-1px}
.txt_info_inline select,.txt_info_inline input[type=text],.abs, .txt_info_inline input[type=password] {position:absolute;left:0;top:0}

/* form 요소에 설명이 input 보다 앞에 위치할경우 /// textarea */
.txt_textarea_block{position:relative}
.txt_textarea_block textarea{position:absolute;top:0;left:0}
.txt_textarea_block .add_txt{padding-top:98px;letter-spacing:-1px}
.txt_textarea_block .h145 {padding-top:145px;letter-spacing:-1px}

/* form 요소에 설명 etc */
.txt_etc_block{position:relative}
.txt_etc_block .add_txt{padding:45px 0 0 10px}
.txt_etc_block .add_txt02{display:inline-block;padding:5px 0 4px 190px}
.txt_etc_block .add_txt03{padding:35px 0 0 0}
.txt_etc_block .etc_txt{position:absolute;top:5px;left:0}
.txt_etc_block .etc_txt02{position:absolute;top:0;left:0}


/* form 요소에 설명이 input 보다 앞에 위치할경우(2줄일 경우) /// inline */
.txt_info_inline2 {position:relative;height:75px}
.txt_info_inline2 .add_text {position:absolute;top:0;left:0;padding-top:25px;letter-spacing:-1px}


/* 20171102 회원정보 변경 확인 추가 */
.tit_5dep {padding-top:30px; margin-bottom:30px; font-size:23px; color:#3c3c3c; text-align:center}
.tit_5dep .txt_green {color:#00704a}
.agree_result {padding:29px 29px 57px; background:#fff}
.agree_result .agree_box {padding:30px 0; background:#f5f5f5; text-align:center; border:0}
.agree_result .agree_box .txt {color:#3c3c3c; font-size:14px; line-height:1.54; font-family:"nanum gothicR"}
.agree_result .agree_box .txt strong {font-family: 'Nanum GothicE';}
.agree_result .agree_box table {width:396px; margin:20px auto; border:1px solid #00704a;}
.agree_result .agree_box table td {padding:8px 0; color:#333; font-size:14px; font-family:"nanum gothicR"}
.agree_result .agree_box table th {padding:8px 0; color:#fff; font-size:14px; background:#00704a; text-align:center}
.agree_result .agree_box table td + td {border-left:1px solid #00704a}
.agree_result .agree_box table th + th {border-left:1px solid #99c6b7}
.agree_result .agree_box table + .txt {font-size:13px}
.agree_result .agree_box .txt_green {color:#00704a; font-size:10px; vertical-align:2px; font-weight:bold}
.agree_result .btn {display:block; width:252px; padding:12px 0 13px; margin:35px auto 0; background:#00704a; color:#fff; font-size:14px; text-align:center}